.paramFile {
	font: 10px/100% "Lucida Console", "Monaco", monospace;
	color: #222;
}

.paramFile .line {
	padding: 4px;
	background: #ddd;
	margin-bottom: 1px;
}

.paramFile .line:hover {
	background: #dfd;
}

.paramFile .line .comment {
	color: steelblue;
}

.paramFile .line .active {
	padding-right: 20px;
}

.paramFile .line .active .param {
	color: #666;
}

.param-wrap {
	width: 300px;
	margin: 0 0 5px 5px;
	float: left;
	zoom: 1;
}

.param-wrap.large {
	width: 754px;
	float: none;
}

.scroll-holder {
	width: 296px;
	height: 200px;
	border: 1px solid #aaa;
	padding: 1px;
}

.large .scroll-holder {
	width: 750px;
	height: 400px;
}

.scroll-pane {
	width: 296px;
	height: 200px;
	overflow: auto;
}

.large .scroll-pane {
	width: 750px;
	height: 400px;
}

.param-wrap h4 {
	background: #aaa;
	padding: 3px;
	font: 14px/100% "Lucida Console", "Monaco", monospace;
	color: #fff;
}

.param-wrap h4 a {
	color: #fff;
	text-decoration: none;
}

.param-wrap h4 a:hover {
	color: #dfd;
}
