/* reset styles */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left;}
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
 ul { padding:0; margin: 0; list-style: none; }
q:before, q:after { content:''; }


html { font: 62.5% sans-serif;}

/* end reset */

.wrap {
	border: 1px solid #aaa;
	border-top: none;
	margin: 20px auto;
	margin-top: 0;
	width: 960px;
	min-height: 600px;
	padding: 10px;
}

.wrap h3 {
	font: 15px/130% helvetica, arial, sans-serif;
	color: #888;
	margin: 20px 0 10px 10px;
	width: 600px;
	border-bottom: 1px solid #888;
}

.thumbs {
	margin-left: 20px;
}

.thumbs a {
	display: block;
	float: left;
	zoom: 1;
	width: 300px;
	padding: 3px;
	border: 1px solid #fff;
}

.thumbs a:hover {
	border-color: #888;
}

.thumbs a img {
	width: 300px;
}

a.thumb {
  display: block;
  width: 200px;
  padding: 5px;

  float: left;
  zoom: 1;
}

a.thumb:hover {
  padding: 4px;
  border: 1px solid #888;
}

a.thumb img {
  width: 200px;
}


br {
	clear: both;
}

.navWrap {
	width: 152px;
	float: left;
	margin-left: 5px;
	zoom: 1;
}

.quantNav {
	width: 130px;
	border: 1px solid #888;
	margin-bottom: 10px;
}

.quantNav h4 {
	font: 14px/100% helvetica, arial, sans-serif;
	background: #888;
	padding: 2px 0;
	color: #fff;
	text-align: center;
}
	
.quantNav a {
	font: 16px/100% helvetica, arial, sans-serif;
	color: steelblue;
	text-decoration: none;
	text-align: center;
	
	display: block;
	border: 1px solid steelblue;
	padding: 3px 0;
	margin: 5px;
}

.quantNav a.current {
	background: steelblue;
	border-color: steelblue;
	color: #fff;
}

.quantNav a:hover {
	background: #333;
	border-color: #333;
	color: #fff;
}

h2.title {
	font: 20px/100% helvetica, arial, sans-serif;
	font-weight: bold;
	color: steelblue;
	margin: 10px 0 0 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

p.copyright {
	margin: 0 auto;
	margin-bottom: 10px;
	font: 12px/100% helvetica, arial, sans-serif;
	color: #888;
	display: block;
	width: 960px;
	text-align: center; 
}

a.back {
	font: 14px/100% helvetica, arial, sans-serif;
	color: steelblue;
	text-decoration: none;
	font-weight: bold;	

	float: right;
	zoom: 1;
	display: block;
	width: 80px;
	text-align: center;
	border: 1px solid steelblue;
	padding: 5px;
}

a.back:hover {
	background: steelblue;
	color: #fff;
}

.runList {
	margin: 20px;
	width: 350px;
	border: 1px solid #888;
	border-top: 5px solid #888;
	border-bottom: none;
}

.runList a {
	font: 16px/140% helvetica, arial, sans-serif;
	color: #444;
	text-decoration: none;
	border-bottom: 1px solid #888;
	display: block;
	padding: 0 5px;
}

.runList a .date {
	display: block;
	float: left;
	zoom: 1;
	width: 50px;
	margin-right: 5px;
	color: #888;
	font-size: 14px;
	border-right: 1px solid #888;
}

.runList a:hover {
	color: steelblue;
}

p.explanation {
	font: 14px/150% "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	color: #333;
	margin: 20px 0 20px 20px;
}

.fotoramaWrap {
	border: 1px solid #aaa;
	width: 650px;
	float: left;
	zoom: 1;
}
