.movie {
	width: 600px;
	float: left;
	padding: 10px;
	border: 1px solid #aaa;
}

.movie h2 {
	font: 16px/100% helvetica, arial, sans-serif;
	color: #444;
	margin-bottom: 10px;
}

.linkList {
	font: 10pt/100% "Lucida Console", "Monaco", monospace;
	border: 1px solid #aaa;
	width: 120px;
	margin: 0 0 10px 5px;
	float: left;
	zoom: 1;
}

.linkList li {
	color: #fff;
	background: #aaa;
}

.linkList ul li {
	color: #888;
	background: #ddd;
	border-top: 1px solid #fff;
	padding: 2px 0 2px 5px;
}

.linkList ul li a {
	padding-left: 5px;
	color: steelblue;
	text-decoration: none;
}

.linkList ul li a:hover {
	color: #222;
}
